@charset "UTF-8";

div
{
	font-family: 'Nanum Gothic Coding', monospace;
	font-family: 'Quicksand', sans-serif;
}
#footer 
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 15px 0;
	text-align: center;
}
.marTop
{
	margin-top: 60px;	
}
.required
{
	color: red;
	vertical-align: super;
	font-size: 18px;
}
.form-control
{
	resize: none;
}
#err
{
	color: red;
	display: none;
	font-weight: bold;
}
textarea
{ 	resize:none; 
	max-width:400px;
	min-width:200px; 
}
button 
{
	margin-left: 5%;
}
#noteContent
{
	resize: none;
}